.product-details{
    display: flex;
    border-bottom: 1px solid lightgray;
}
.product-list{
    margin-left: 20px;
}
.product-list h4{
    color: darkblue;
    font-weight: 400;
}
.cart-btn{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: chocolate;
    margin-bottom: 5px;
    cursor: pointer;
}